.heroSec{
    background:#fff;
    height: 100%;
}
.menuItems ul li ul{
    z-index: 1;
}
.secNav{
    z-index: 27;
}
header{
    background: linear-gradient(45deg,#000e36, #00ace0);
}
.back{
    background: linear-gradient(120deg,#000e36,#00ace0);
    backdrop-filter: blur(22px);
    padding: 5px 0;
    transition: all 0.3s ease;
    margin-top: 0;
    box-shadow: 0 6px 10px 4px rgba(1, 0, 49, 0.267);
}
.menuItems ul li:hover{
    background: #00ace0;
}
.menuItems ul li ul{
    background: #000e36;
}
.secNav{
    background: #000e36;
}
.notesMainDev{
    margin-top: 90px;
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.notesMainDev .noteText{
    margin-top: 30px;
    margin-bottom: 15px;
}
.notesMainDev .noteText h1{
    font-size: 37px;
    font-weight: 800;
    text-align: center;
    color: #000e36;
}
.notesMainDev .noteText p{
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}
.boxSecs{
    display: flex;
    gap: 0 19px;
    padding-bottom: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.boxSecs .noteBox{
    cursor: pointer;
    width: 200px;
    box-shadow: 0 6px 10px 4px #00ace02d;
    display: flex;
    margin: 10px 0;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
    transition: 0.3s;
}
.boxSecs .noteBox:hover{
    transform: scale(1.050);
    transform: translateY(-2px);
}
.boxSecs .noteBox::after{
    content: "";
    position: absolute;
    width: 100%;
    
    height: 100%;
    background: linear-gradient(45deg,#00ace0cc,#000e36cc);
    z-index: -1;
    transition: 0.5s ease;
    opacity: 0;
    transform: scale(0);
    border-radius: 50%;
}
.boxSecs .noteBox:hover::after{
    transform: scale(1);
    opacity: 1;
    border-radius: 5px;
}
.boxSecs .noteBox h3{
    font-weight: 700;
    margin: 5px 0;
    transition: 0.5s ease;
    color: #000e36;
    font-size: 23px;
}
.boxSecs .noteBox:hover h3{
    color: #fff;
    font-weight: 500;
}

.boxSecs .noteBox img{
    width: 100px;
    padding-bottom: 10px;
}
.BackToPage{
    position: absolute;
    top: 85px;
    left: 33px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s ease;
}
.BackToPage:hover{
    background: #007ba15d;
}
@media only screen and (max-width: 844px) {
    .boxSecs{
        gap: 15px 15px;
    }  
    .BackToPage{
        top: 60px;
        left: 24px;
    } 
}
@media only screen and (max-width: 442px) {
    .boxSecs .noteBox{
        width: 150px;
        margin: 0 10px;
    }   
    .boxSecs .noteBox h3{
        font-size: 18px;
    }
    .boxSecs .noteBox img{
        width: 80px;
    }
    .notesMainDev .noteText h1{
        font-size: 28px;
    }   
    .notesMainDev .noteText p{
        font-size: 19px;
    }
}
@media only screen and (max-width: 358px){
    .boxSecs .noteBox{
        width: 130px;
       
    }
    .boxSecs .noteBox img{
        width: 70px;
    }
}

@media only screen and (max-width: 328px) {
    .boxSecs .noteBox{
        width: 120px;
    }   
    .boxSecs .noteBox h3{
        font-size: 17.5px;
    }
    .boxSecs .noteBox img{
        width: 70px;
    }
    .notesMainDev .noteText h1{
        font-size: 23px;
    }   
    .notesMainDev .noteText p{
        font-size: 18px;
    }
}
.jsAddText{
    padding: 8px 100px;
}
@media only screen and (max-width: 720px){
    .jsAddText{padding: 7px 15px;} 
}
.notesDesc {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}
@media only screen and (max-width: 500px){
    .notesDesc{
        padding: 10px 0;
    }
    .notesDesc p{
        font-size: 15.5px;
    }
    
}
@media only screen and (max-width: 358px){
    .noteBox{
        width: 160px;
        
    }
}

