
.noteTextArea{
    
    margin: 15px 0;
    padding: 0 60px;
    width: 100%;
}
.noteTextArea .chapterName{
    margin-top: 120px;
    text-align: center;
    font-size: 32px;
    padding-bottom: 10px;
    color: #000e36;
}
.noteTextArea .chapterName span{
    color: #00ace0;
}
.noteTextArea p{
    font-size: 16px;
    color: #464545;
}
.SelectChapter{
    position: relative;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
}
.SelectChapter .chMainDev{
    background: #f5f5f5;
    border-radius: 5px;
    position: relative;
    flex-basis: 70%;
    box-shadow: 0 4px 10px 4px #00ace065;
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding: 0 8px;
}
.SelectChapter .chMainDev ul {
    list-style: none;
    width: 100%;
    position: relative;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 18px;
    margin: 6px 0;
    background: #fff;
    cursor: pointer;
    box-shadow: 0 2px 2px 2px rgba(0, 204, 255, 0.089);
    line-height: 20px;
    border-radius: 10px;
}
.SelectChapter .chMainDev ul li{
    margin-top: 6px;
    padding: 10px 3px;
    cursor: pointer;
    color: #000e36;
    font-weight: 500;
    border-bottom: 1px solid #cfcfcf;
    transition: 0.3s ease;
    font-size: 14.8px;
    border-radius: 3px;
}

.SelectChapter .chMainDev ul li:hover{
    background: #00ace034;   
    transform: scale(1.005);
}
.SelectChapter .chMainDev ul li a{
    text-decoration: none;
}
@media only screen and (max-width: 900px){
    .SelectChapter .chMainDev{
        flex-basis: 90%;
    }
}
@media only screen and (max-width: 700px){
    .noteTextArea{
        padding: 0 16px;
        margin: 10px 0;
    }
    .SelectChapter .chMainDev{
        flex-basis: 99%;
    }
}
@media only screen and (max-width: 500px){
    .SelectChapter .chMainDev ul{
        font-size: 16.6px;
        padding: 10px;
    }
}
@media only screen and (max-width: 400px){
    .noteTextArea .chapterName{
        margin-top: 100px;
        /* font-size: 27px; */
        font-weight: 800;
    }
    .noteTextArea{
        padding: 0 10px;
    }
    .SelectChapter .chMainDev ul{
        font-size: 16.6px;
    }

}